<h2>Create User</h2>
<form method="post" action="/users/create">
  <label for="nameFirst">First Name</label><br />
  <input type="text" name="nameFirst" id="nameFirst" /><br />

  <label for="nameLast">Last Name</label><br />
  <input type="text" name="nameLast" id="nameLast" /><br />

  <label for="email">Email</label><br />
  <input type="text" name="email" id="email" /><br />

  <label for="password">Password</label><br />
  <input type="password" name="password" id="password" /><br />

  <label for="confirm">Confirm Password</label><br />
  <input type="password" name="confirm" id="confirm" /><br />

  <input type="submit" value="Create User" />
</form>
