<h2>Reset Password</h2>
<form method="post" action="/users/password">
  <input type="hidden" name="token" value="{{user.token}}" />

  <label for="password">Password</label><br />
  <input type="password" name="password" id="password" /><br />

  <label for="confirm">Confirm Password</label><br />
  <input type="password" name="confirm" id="confirm" /><br />

  <input type="submit" value="Reset Password" />
</form>
